:root {
    --spacing:8px;
    --main-color: darkblue;
    --text-color: white;
}

main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, textarea, label, button {
    margin: var(--spacing);
    padding: var(--spacing);
    font-size:14pt;
}

form > div {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 4px;
    border: none;
}

button:hover {
    filter:brightness(140%);
}

button:active {
    filter:brightness(60%);
}
